[run]
source = app
omit = 
    */tests/*
    */.venv/*
    */__pycache__/*
    */migrations/*
    init_db.py
    import_csv.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

show_missing = True
fail_under = 50
